
body {
    background-color: black;
}

h1 {
    /* border: 2px #eee solid; */
    color: rgb(24,216,96);
    background-color: black;
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
}

.url {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height:100%; */
    background-color: black;
    color: white
}

div {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* min-height:100%; */
    background-color: black;
    color: white
}

.logs {
    justify-content: center;
    background-color: black;
    color: white
}


input[type="submit"] {
    display: block;
    margin: auto;
}

button {
    display: block;
    margin: 10px auto;
  }

/* .urlbox{
    font-size: 13px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 9px;
    width:100%;
    height:30px;
} */

/* .urlbox:empty {
    border: 2px solid #999999;
    font-size: 13px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 9px;
    width:100%;
    height:30px;
}

.urlbox:valid:not(:placeholder-shown){
    border:rgb(24,216,96) 2px;
    font-size: 13px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 9px;
    width:100%;
    height:30px;
}
.urlbox:invalid{
    border: red solid 2px;
    font-size: 13px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 9px;
    width:100%;
    height:30px;
} */

.urlbox:empty {
    border: 2px solid grey;
    font-size: 13px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 9px;
    width:100%;
    height:30px;
  

}
.urlbox:valid:not(:placeholder-shown) {
    border: 2px solid rgb(24,216,96);
    font-size: 13px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 9px;
    width:100%;
    height:30px;
  }
.urlbox:invalid {
    border: 2px solid red;
    font-size: 13px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 9px;
    width:100%;
    height:30px;
}



button{
    /* margin-right: 0px; */
    height: 30px;
    width:130px;
    border-radius: 5px ;
    border: none; 
    /* float: right; */
    background-color: #ddd;
    font-weight: bold;
}

button:hover{
    background-color: rgb(24,216,96);
    color: white;
}