<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>SpotDL Web</title>
</head>

    <h1>SpotDL Web</h1>
        <div><a href="https://open.spotify.com/" style="color:white;" target="_blank">Aller sur Spotify</a></div>
        <div>   - Chercher un album ou une playlist</div> 
        <div>   - Copier le ou les lien(s) url ci-dessous</div> 
    <div class="url" style="padding-top: 10px;">
    <form method="POST">
        <!-- <label for="url">URL:</label>
        <input type="text" name="url" id="url"> -->

        <div style="margin-top: 10px;">
            <!-- <label for="url1">URL 1:</label> -->
            <input type="text" name="url1" id="url1" placeholder="URL" value="https://open.spotify.com/album/3QgFzksD4J43TnGIJOOrRV?si=X6q4QeJ_TtCi9q9fu25Aww">
        </div>
            
        <div style="margin-top: 10px;">
            <!-- <label for="url2">URL 2:</label> -->
            <input type="text" name="url2" id="url2" placeholder="URL">
        </div>

        <div style="margin-top: 10px;">
            <!-- <label for="url3">URL 3:</label> -->
            <input type="text" name="url3" id="url3" placeholder="URL">
        </div>

        <div style="margin-top: 10px;">
            <!-- <label for="url4">URL 4:</label> -->
            <input type="text" name="url4" id="url4" placeholder="URL">
        </div>

        <div style="margin-top: 10px;">
            <!-- <label for="url5">URL 5:</label> -->
            <input type="text" name="url5" id="url5" placeholder="URL">
        </div>

        <div style="margin-top: 10px;">
            <input type="submit" value="Téléchargement">
        </div>

    </form>
    </div>


